/*@media(max-width: 768px) {
    body {
        background-color: aqua;
    }
}

@media(min-width: 601px) and (max-width: 900px) {
    body {
        background-color: green;
    }
}

@media(min-width: 900px) and (max-width: 900px) {
    body {
        background-color: blue;
    }
}

<!-- @media(max-width: 768px) {
    body {
        background-color: aqua;
    }
}

@media(min-width: 601px) and (max-width: 900px) {
    body {
        background-color: green;
    }
}

@media(min-width: 900px) and (max-width: 900px) {
    body {
        background-color: blue;
    }
}

*/


/*Mobile*/

@media(max-width: 480px) {
    body {
        font-size: 14px;
    }
}


/*Tablet*/

@media(min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}


/*Desktop*/

@media(min-width: 769px) {
    body {
        font-size: 18px;
    }
}